name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2

      - name: Install Dependencies
        run: composer install --no-interaction --prefer-dist

        - name: Copy .env
        run: cp .env.example .env

      - name: Generate App Key
        run: php artisan key:generate
        
      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache

      - name: Run Tests
        run: php artisan test

      - name: Deploy to Server
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.DWELLO_IP }}
          username: ${{ secrets.DWELLO_USER }}
          key: ${{ secrets.DWELLO_KEY }}
          script: 
            eval "$(ssh-agent -s)"
            ssh-add ~/.ssh/id_ed25519
            cd /var/www/Dwello
            git pull origin main
            composer install --no-interaction --prefer-dist
            php artisan migrate --force
            php artisan optimize
